@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "@fontsource-variable/geist";

@custom-variant dark (&:is(.dark *));

@theme inline {
    --font-heading: var(--font-sans);
    --font-sans: 'Geist Variable', sans-serif;
    --color-sidebar-ring: var(--sidebar-ring);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar: var(--sidebar);
    --color-chart-5: var(--chart-5);
    --color-chart-4: var(--chart-4);
    --color-chart-3: var(--chart-3);
    --color-chart-2: var(--chart-2);
    --color-chart-1: var(--chart-1);
    --color-ring: var(--ring);
    --color-input: var(--input);
    --color-border: var(--border);
    --color-destructive: var(--destructive);
    --color-accent-foreground: var(--accent-foreground);
    --color-accent: var(--accent);
    --color-muted-foreground: var(--muted-foreground);
    --color-muted: var(--muted);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-secondary: var(--secondary);
    --color-primary-foreground: var(--primary-foreground);
    --color-primary: var(--primary);
    --color-popover-foreground: var(--popover-foreground);
    --color-popover: var(--popover);
    --color-card-foreground: var(--card-foreground);
    --color-card: var(--card);
    --color-foreground: var(--foreground);
    --color-background: var(--background);
    --radius-sm: calc(var(--radius) * 0.6);
    --radius-md: calc(var(--radius) * 0.8);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) * 1.4);
    --radius-2xl: calc(var(--radius) * 1.8);
    --radius-3xl: calc(var(--radius) * 2.2);
    --radius-4xl: calc(var(--radius) * 2.6);
}

:root {
    --background: oklch(0.97 0.003 264.5);
    --foreground: oklch(0.257 0.032 266);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.257 0.032 266);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.257 0.032 266);
    --primary: oklch(0.511 0.086 186.4);
    --primary-foreground: oklch(1 0 0);
    --secondary: oklch(0.925 0.011 269.5);
    --secondary-foreground: oklch(0.257 0.032 266);
    --muted: oklch(0.925 0.011 269.5);
    --muted-foreground: oklch(0.553 0.039 269);
    --accent: oklch(0.942 0.027 185.2);
    --accent-foreground: oklch(0.511 0.086 186.4);
    --destructive: oklch(0.577 0.215 27.3);
    --border: oklch(0.86 0.014 269);
    --input: oklch(0.78 0.018 269);
    --ring: oklch(0.511 0.086 186.4);
    --chart-1: oklch(0.627 0.17 149.2);
    --chart-2: oklch(0.666 0.157 58.3);
    --chart-3: oklch(0.577 0.215 27.3);
    --chart-4: oklch(0.546 0.215 262.9);
    --chart-5: oklch(0.511 0.086 186.4);
    --radius: 0.625rem;
    --sidebar: oklch(0.236 0.029 243.1);
    --sidebar-foreground: oklch(0.778 0.027 244.5);
    --sidebar-primary: oklch(0.511 0.086 186.4);
    --sidebar-primary-foreground: oklch(1 0 0);
    --sidebar-accent: oklch(0.3 0.028 243);
    --sidebar-accent-foreground: oklch(1 0 0);
    --sidebar-border: oklch(0.32 0.03 243);
    --sidebar-ring: oklch(0.855 0.125 181.1);
}

.dark {
    --background: oklch(0.189 0.017 252.6);
    --foreground: oklch(0.938 0.011 256.7);
    --card: oklch(0.244 0.026 251.3);
    --card-foreground: oklch(0.938 0.011 256.7);
    --popover: oklch(0.244 0.026 251.3);
    --popover-foreground: oklch(0.938 0.011 256.7);
    --primary: oklch(0.785 0.116 183.1);
    --primary-foreground: oklch(0.189 0.017 252.6);
    --secondary: oklch(0.321 0.034 253.9);
    --secondary-foreground: oklch(0.938 0.011 256.7);
    --muted: oklch(0.321 0.034 253.9);
    --muted-foreground: oklch(0.702 0.033 258.9);
    --accent: oklch(0.323 0.04 195.3);
    --accent-foreground: oklch(0.785 0.116 183.1);
    --destructive: oklch(0.704 0.191 22.216);
    --border: oklch(0.321 0.034 253.9);
    --input: oklch(0.321 0.034 253.9);
    --ring: oklch(0.785 0.116 183.1);
    --chart-1: oklch(0.627 0.17 149.2);
    --chart-2: oklch(0.666 0.157 58.3);
    --chart-3: oklch(0.704 0.191 22.216);
    --chart-4: oklch(0.546 0.215 262.9);
    --chart-5: oklch(0.785 0.116 183.1);
    --sidebar: oklch(0.17 0.017 252.7);
    --sidebar-foreground: oklch(0.698 0.035 249.8);
    --sidebar-primary: oklch(0.511 0.086 186.4);
    --sidebar-primary-foreground: oklch(1 0 0);
    --sidebar-accent: oklch(0.24 0.02 252);
    --sidebar-accent-foreground: oklch(1 0 0);
    --sidebar-border: oklch(0.321 0.034 253.9);
    --sidebar-ring: oklch(0.855 0.125 181.1);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
    }
  body {
    @apply bg-background text-foreground;
    }
  html {
    @apply font-sans;
    }
}